*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background: #FFF7F0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  margin: 1rem;
  background-color: #061205;
}

main{
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    height: 22vh;
    padding-block: 1rem 2rem;
    width: 100%;

}
.navbar{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: #B4FF00;
}

.btn{
    background-color: #008080;
    padding: 8.5px;
    border-radius: 40px;
    width: 189px;
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover{
    background: #755CDE;
}
.btn:active{
    background: #4d2dd0;
}
#header-img{
    cursor: pointer;
}
.btn0{
    background-color: black;
    color: white;
    text-decoration: none;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

#hero-section{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

#hero-section h1{
    font-size: 3.5rem;
    line-height: 4.41rem;
    font-weight: 700;
    position: relative;
    bottom: 4px;
    color: #B4FF00;
}

#hero-section p{
    color: #7A746E;
    font-size: 1.125rem;
}
#hero-section img{
    width: 400px;
    height: 400px;
}

#my-squad{
    margin-top: 11rem;
    display: flex;
    justify-content: space-around;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
}
#my-squad img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    margin-left: 2.2rem;

}

#my-squad div{
    margin-top: 2rem;
    margin-left: 2rem;
    justify-content: space-around;
}
#my-squad div h3{
    font-size: 1.9rem;
    margin-bottom: 1.3rem;
    color: #CCCCCC;
}
#my-squad div p{
    font-size: 1.25rem;
    color: #7A746E;
    margin-bottom: 1.5rem;
}
.btn2{
    background: #EB7565;
    font-weight: 700;
    padding: 0.5rem 1.6875rem;
    border-radius: 28px;
    cursor: pointer;
}
.btn2:hover{
    background: #F6A560;
}
.btn2:active{
    background: #d77f31;
}

#slides{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    object-fit:fill;
}

#slides h3{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #00FFFF;
}
#slides img{
    margin-bottom: 3rem;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease;
    width: 1140px;
    height: 700px;
    position: relative;
    bottom: 4px;

}

#slides img:hover{
    transform: scale(1.1);
}
.b-padding{
    background-color: black;
    padding: 1.5rem;
    border-radius: 100%;
    color: white;
}
.b-padding:hover{
    background: #755CDE;
    cursor: pointer;
}
.b-padding:active{
    background: #4d2dd0;
}
.arrows{
    width: 170px;
    display: flex;
    justify-content: space-evenly;
}
#contact{
    background: #030303;
    border-radius: 10px;
    color: #FFF7F0;
    padding: 3rem 1.5rem;
    margin-top: 6.25rem;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    height: 20rem;
}
#contact-t{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact h3{
    font-size: 2.5rem;
    display: inline;
}

#contact p{
    font-size: 1.25rem;
    display: inline;
}
.btn3{
    background: #EB7565;
    font-weight: 700;
    padding: 0.7rem 1.6875rem;
    border-radius: 28px;
    cursor: pointer;
    width: 180px;
    color: white;
}
.btn3:hover{
    background: #a35c52;
}
.btn3:active{
    background: #8b3f36;
}
footer{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
}
#absolute{
    position: absolute;
    width: 1140px; 
    height: 700px;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#absolute:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.button {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 8px;
    display: none;
    cursor: pointer;
    text-decoration: none;
}

#absolute:hover .button {
    display: block;
}