* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #153677;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

ul li {
    list-style: none;
    font-size: 1rem;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 6px;
    left: 8px;
}

ul li.checked::before {
    background-image: url(/checked.png);
}

.close {
    margin-left: 10px;
    color: red;
    cursor: pointer;
    font-weight: bold;
}
